body{
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-bAWneCJA6CdfIoW_1dFEPrhqyj6hvrrdYWGpk0WNlFxKfLYyjzAKfwIh9Gmi3aZW9D8&usqp=CAU") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /* background-color: #02565651; */
}
